<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/app/Views/style-news.scss">
    <meta charset="UTF-8">
    <title></title>

</head>
<header>
    <h1>Top News Stories</h1>
</header>
<div class="band">
{% for newsReport in report %}

        <div class="item-{{ loop.index }}">
            <a href="{{ newsReport.url }}" class="card">
                <div class="thumb" style="background-image: url({{ newsReport.urlToImage }});"></div>
                <article>
                    <h1>{{ newsReport.title }}</h1>
                    <p>{{ newsReport.description }} </p>
                    <span>{{ newsReport.author }}</span>
                </article>
            </a>
        </div>

{% endfor %}
</div>

